# Temp files.
.idea
.DS_Store



# Log files.
logs
*.log

# Data files and directorys.
Data/
data/
public/
middleware/
supplemental/
temp/

# Static files.
packages/weblogics/*
packages/jdks/*
!packages/weblogics
!packages/jdks


